<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\\Projetos\\Fiap\\Fase 1\\Br.Com.FiapInvestiments\\Br.Com.FiapInvestiments.Api\\Logs\\Api.log" />
		<param name="AppendToFile" value="true" />
		<param name="RollingStyle" value="Size" />
		<param name="MaxSizeRollBackups" value="10" />
		<param name="MaximumFileSize" value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="LogFileAppender" />
	</root>
</log4net>